<html lang="pt-br">
  <head>
    {% block head %}

    <title>Josué Filipe</title>

    {% endblock %}

    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/classes">Logos</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}

  </body>
</html>